<!DOCTYPE html>
<html ng-app="gifGenerator">
  <head>
    <meta charset="utf-8">
    <title>Gif Generator II</title>
    <script src="angular.min.js"></script>
    <script src = "app.js"></script>
    <link rel="stylesheet" href="style.css"></link>
  </head>

  <body ng-controller="CallController">
    <h1>The Fountain of Gifs</h1>

    <div class="inputs">
      <button ng-click="getGif(tag)">Get Another Gif!</button>
      <input ng-model="tag" type="text" placeholder="Optional: Enter Tag"/>
    </div>

    <div class="results">
      <img ng-src="{{gif}}" />
    </div>

  </body>
</html>
